<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/data.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const blogTitles = document.querySelectorAll('.blog-title');
            blogTitles.forEach(function(title) {
                title.addEventListener('click', function() {
                    const content = this.nextElementSibling;
                    content.classList.toggle('expanded');
                    this.classList.toggle('active');
                });
            });
        });
    </script>
</head>

<body>
    <main>
        <div class="form-container">
            <%- include('./form.ejs') %>
        </div>
        <% if (blogs.length > 0) { %>
            <div class="grid">
                <% for (let blog of blogs) { %>
                    <article class="card-blog-items">
                        <header class="blog-header">
                            <button class="blog-title"><h3><%= blog.title %></h3></button>
                            <div class="card-content">
                                <h4 class="blog-author"><%= blog.author %></h2>
                                <p class="blog-content"><%= blog.content %></p>
                                <hr>
                                <div class="comment-section">
                                    <% if (blog.comments.length > 0) { %>
                                        <% for (let comment of blog.comments) { %>
                                            <% if (comment && comment.data) { %>
                                                <article class="comments">
                                                    <div class="comment-items">
                                                        <p class="comment-data"><%= comment.data %></p>
                                                        <form action="/blogs/delete-comment" method="POST">
                                                            <input type="hidden" value="<%= comment.id %>" name="commentId">
                                                            <button class="btn-danger" type="submit">Delete</button>
                                                        </form>
                                                    </div>
                                                </article>
                                            <% } %>
                                        <% } %>
                                    <% } else { %>
                                        <h4 class="no-comments">No Comments</h4>
                                    <% } %>
                                </div>
                                <form class="comment-form" action="/blogs/<%= blog.id %>/comments" method="POST">
                                    <input type="text" name="data" placeholder="Add a comment">
                                    <input type="hidden" name="blogId" value="<%= blog.id %>">
                                    <button class="btn" type="submit"> Submit </button>
                                </form>
                            </div>
                        </header>
                    </article>
                <% } %>
            </div>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>
  